# EDA on the historical flights dataset

### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Reading data

In [3]:
df = pd.read_csv("../data/historical_flights.csv")
df.describe()

           cancelled
count  410442.000000
mean        0.026839
std         0.161614
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000